<div class="sidebar-wrapper scrollbar scrollbar-inner">
	<div class="sidebar-content">
		<ul class="nav nav-secondary">

			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
					<i class="fas fa-home"></i>
					<p>Dashboard</p>
					<span class="caret"></span>
				</a>
			</li>

			<li class="nav-section">
				<span class="sidebar-mini-icon">
					<i class="fa fa-ellipsis-h"></i>
				</span>
				<h4 class="text-section">Components</h4>
			</li>

			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#1">
					<i class="fas fa-pen-square"></i>
					<p>Hesap İşlemleri</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="1">
					<ul class="nav nav-collapse">
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">Para Transferi</span>
							</a>
						</li>
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">Son İşlemlerim</span>
							</a>
						</li>
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">QR İle Para Gönder</span>
							</a>
						</li>
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">İban Bilgisi Paylaş</span>
							</a>
						</li>
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">Hesaplarım Arası Transfer</span>
							</a>
						</li>
						<li>
							<a href="../forms/forms.html">
								<span class="sub-item">Cebe Havale</span>
							</a>
						</li>

					</ul>
				</div>
			</li>

			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#2">
					<i class="fas fa-table"></i>
					<p>Hesaplarım</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="2">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Tüm Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Yeni Hesap Aç</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Vadesiz Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Vadeli Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Altın Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Kredi Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Dolar Hesaplarım</span>
							</a>
						</li>

					</ul>
				</div>
			</li>


			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#3">
					<i class="fas fa-table"></i>
					<p>Ödemeler</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="3">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Fatura Ödeme</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Eğitim Ödemeleri</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Trafik Ödemeleri</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Sınav Ödemeleri</span>
							</a>
						</li>

					</ul>
				</div>
			</li>


			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#4">
					<i class="fas fa-table"></i>
					<p>Döviz & Altın</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="4">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Döviz Kurları</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Döviz İşlemleri</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Altın İşlemleri</span>
							</a>
						</li>

					</ul>
				</div>
			</li>


			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#5">
					<i class="fas fa-table"></i>
					<p>Krediler</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="5">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Kredi Hesaplarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Kredi Başvurusu</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Kredi Ödemeleri</span>
							</a>
						</li>

					</ul>
				</div>
			</li>

			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#6">
					<i class="fas fa-table"></i>
					<p>Kartlarım</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="6">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Kredi Kartlarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Banka Kartlarım</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Sanal Kartlarım</span>
							</a>
						</li>

					</ul>
				</div>
			</li>



			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#7">
					<i class="fas fa-table"></i>
					<p>Ayarlar</p>
					<span class="caret"></span>
				</a>
				<div class="collapse" id="7">
					<ul class="nav nav-collapse">
						<li>
							<a href="../tables/tables.html">
								<span class="sub-item">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">Profil Bilgileri</span>
							</a>
						</li>
						<li>
							<a href="../tables/datatables.html">
								<span class="sub-item">İletişim Bilgileri</span>
							</a>
						</li>

					</ul>
				</div>
			</li>


			<li class="nav-item">
				<a href="../widgets.html">
					<i class="fas fa-desktop"></i>
					<p>Widgets</p>
					<span class="badge badge-success">4</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="../../../documentation/index.html">
					<i class="fas fa-file"></i>
					<p>Documentation</p>
					<span class="badge badge-secondary">1</span>
				</a>
			</li>


		</ul>
	</div>
</div>